.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  p {
    font-size: 1.5rem;
    color: gray;
  }